<div class="jumbotron">
 <div class="container">
 <h1>Welcome to my world of fish!</h1>
 
 <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more>></a></p>
 </div>
 </div>


 <div class="container-fluid">
 <!-- Example row of columns -->
 <div class="row">
 <% @fishes.each do |fish| %>
 <div class="col-md-4">
 <h2><%= fish.commonname%></h2>
 <%=fish.files%>
 <p>
 <%= link_to 'Read more >', fish, class: "btn btn-default"%>
 </p>
 </div>
<% end %>
 </div>

 <%= link_to "Load the fish by JSON", "/loadFish.html" %>
  <%= link_to "Load the fish by XLS", "/loadFishXLS.html" %>
 <hr>
 <footer>
 <p>&copy; 2018 Company, Inc.</p>
 </footer>
</div> 