<p id="notice"><%= notice %></p>

<p>
  <strong>Genus:</strong>
  <%= @fish.genus %>
</p>

<p>
  <strong>Commonname:</strong>
  <%= @fish.commonname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fish.description %>
</p>

<div>

<%(0...@fish.files.count).each do |file|%>

	<%=image_tag(@fish.thumbnails(file))%>
	
<%end%>
 
</div>
<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fish_index_path %>
