<h1 align="center" style="font-family:courier;"> Fish Information</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Genus:</strong>
  <%= @fish.genus%>
</p>

<p>
  <strong>Commonname:</strong>
  <%= @fish.commonname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fish.description %>
</p>



<div>
 <% @fish.files.each do |image| %>
 <span class="fishgroup">
    <%= image_tag image.variant(combine_options: {
      auto_orient: true,
      gravity: "center",
      resize: "200x200^",

      }).processed,class:"img-thumbnail"%>
  </span>
  <% end %>
</div>	
 

<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fish_index_path %>
